@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body, material-app, md-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .header-toolbar {
  background:#E91E63;
    position: fixed;
    z-index: 2;
    font-style: bold;
    color: #fafafa;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    a{
      text-decoration: none;
    }
  .side-nav-container {
    width: 100%;
    height: 100%;
  }  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #E91E63
  }
  .sidenav {
    width: 240px;
    background-color: #E91E63;
  }  
  .sidenav:hover {
    width: 240px;
    background-color: #E91E63;
  } 
.menu-items{
  font-size: 32px;
  font-style: bold;
  color: white;
  font-family: 'Poiret One', cursive;
}
.menu-items:hover{
  font-size: 32px;
  font-family: 'Poiret One', cursive;
  color: #F50057
  
}
  
.author-image {
  margin-top: 7%;
  display: inline-block;
  width: 260px;
  height: 260px;
  /* background-image:url('../assets/image/author.jpeg'); */
  /* border-radius: 50%; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* border: 2px solid #78909C; */
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  
}

.my-info{
  height: 100%;
}

.info-para{
  font-family: 'Bad Script', cursive;
  font-size: 16px;  
}

.about-author{
  width: 90%;
}

.author-detail{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.info-title{
  font-family: 'Rouge Script', cursive;
  font-size: 42px;
  color: #263238; 
}
.info-subtitle{
  font-family: 'Poiret One', cursive;
  font-size: 36px;
}
  md-toolbar{
      padding: 0px;
  }
  md-toolbar-row{
      padding: 20px;
      margin: 0px;
border-top: 1px solid black;
    }

  
  .title{
      font-family: 'Lobster Two', cursive;
      color:#FFFFFF;
      font-size: 24px;
  }

  .social-login-button{
    width:500px;
     padding:24px;
     margin:50px;
     color:white;
     display:flex;
     justify-content:center;
     font-family: 'Roboto',sans-serif;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 .title-bar{
   display: flex;
   justify-content: center;
   align-items: center
 }