<mat-toolbar role="header" class="header-toolbar ">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="mat-24">menu</mat-icon>
    </button>￼

    <div style="font-family: 'Stalemate', cursive;
    font-size: 56px; margin-top:16px; display:flex;justify-content:flex-end; align-items:center; width:100%">
        <p>Fosseta Moda</p>

    </div>

    <div style="display:flex;justify-content: flex-end; align-items:end; width:80%">
        <a routerLink="/login">
        <button mat-icon-button >
            <i class="material-icons">lock</i>
        </button>
    </a>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="mat-24">search</mat-icon>

        </button>￼
    </div>
</mat-toolbar>

<mat-sidenav-container class="side-nav-container">
    <mat-sidenav #sidenav class="sidenav">
    

        <a routerLink="/brand">
            <mat-nav-list>
                <mat-list-item>
                    <span class="menu-items"></span>
                </mat-list-item>
            </mat-nav-list>
        </a>

        <a routerLink="/brand">
            <mat-nav-list>
                <mat-list-item>
                    <span class="menu-items">The Brand</span>
                </mat-list-item>
            </mat-nav-list>
        </a>


        <a routerLink="/designer">
            <mat-nav-list>
                <mat-list-item>
                    <span class="menu-items">The Designer</span>
                </mat-list-item>
            </mat-nav-list>
        </a>
        <a routerLink="/collection">
            <mat-nav-list>
                <mat-list-item>
                    <span class="menu-items">Collection</span>
                </mat-list-item>
            </mat-nav-list>
        </a>

        <a routerLink="/contact">
            <mat-nav-list>
                <mat-list-item>
                    <span class="menu-items">Photoshoot</span>
                </mat-list-item>
            </mat-nav-list>
        </a>
        <a routerLink="/contact">            
        <mat-nav-list>
                <mat-list-item>
                    <span class="menu-items">Invite a Friend</span>
                </mat-list-item>
        </mat-nav-list>
        </a>
    </mat-sidenav>

    <router-outlet></router-outlet>

</mat-sidenav-container>

<!-- <mat-tab-group>
    <mat-tab>
        <template matTabLabel>
          Home
        </template>
<home></home>
    </mat-tab>
    <mat-tab>
        <template matTabLabel>
            Gallery
        </template>
        gallery content
      </mat-tab>
      <mat-tab>
          <template matTabLabel>
              Contact
          </template>
          contact content
        </mat-tab>
        <mat-tab>
            <template matTabLabel>
                About us
            </template>
            about content
          </mat-tab>
</mat-tab-group>  -->