<div style="margin-top:60px">
<mat-grid-list cols="5" rowHeight="90px">
    <mat-grid-tile *ngFor="let tile of tiles" 
    [colspan]="tile.cols" 
    [rowspan]="tile.rows" 
    [style.background]="tile.color">
    
    <div  *ngIf="tile.show; else title" [style.background-image]="'url('+tile.image+')'" style="width:100%;height:100%;background-size:contain;background-repeat:no-repeat">
   
    </div>
    <ng-template #title>
            {{tile.text}}
            
    </ng-template>
    </mat-grid-tile>
</mat-grid-list>
</div>