<div class="sidenav-content">

    <div class="my-info">
        <div class="author-detail">
            <div class="author-image" style="background-image:url('../assets/image/woman-placeholder.jpg')">
            </div>
        </div>
        <div class="author-detail">
            <span class="info-title">Dimple Arora</span>
        </div>
        <div class="author-detail">
            <span class="info-subtitle">Fashion Designer</span>
        </div>
        <div class="author-detail">
            <div class="about-author">

                <p class="info-para">"A passionate Designer with Creative and Innovative vision; comes from a small town of Rajasthan named Kota.
                    She had receveid her diploma course in fashion designing from Couture Institute of Fashion Techonology
                    in Kota. Her aim is to change the concept of many Indians of looking great only by wearing heavy worked
                    clothes, which is not true according to her , so she brings her vision of creating an unique , simple
                    designs with details like ruffled,pleated,tucked and her designs are embellished with minimal hand or
                    machine work or appliqué that can be worn by everyone. Her style is especially about feeling classy,
                    elegant and sophisticated. She believes in her creation and can design the pallette for women to wear
                    simple, comfortable yet stylish couture. She wants to innovate the power of dressing for women with her
                    figure-loving designs. She also believes that dressing up occasionally and looking perfect is not only
                    goes for women but for men and kids too. So, she also design menswear and kids wear in simple yet stylish
                    and easy going comfortable design." </p>
            </div>
        </div>

    </div>

</div>