<div style="margin-top:100px">
  
        
    <mat-grid-list cols="2" rowHeight="200px">
          
        <mat-grid-tile colspan="2" rowspan="1" style.background="#369">
              
            <div style="width:100%; padding:50px; display:flex;align-items:center;justify-content:center">
                   
                <form class="example-form">
                        
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password">
                    </mat-form-field>
                    <button mat-raised-button color="primary">
                        LOGIN
                    </button>
                </form>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" style.background="#fff">
            <div style="width:36%; ">
                  
             
                <mat-toolbar color="primary" style="display:flex;justify-items:center; align-items:center; color:#fff;">
                    Facebook
            </mat-toolbar>
            <br>
                <mat-toolbar  color="warn" style="display:flex;justify-items:center; align-items:center; color:#fff;">
                    Gmail
                </mat-toolbar>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>